# ~/.config/systemd/user/quickshell.service
[Unit]
Description=Quickshell service for sway
Documentation=https://quickshell.org/
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/quickshell
Restart=on-failure

[Install]
WantedBy=graphical-session.target
