[include]
	path = ~/.config/git/gitconfig_private
[core]
	autocrlf = input
	editor = "nvim --clean"
	excludesfile = ~/.config/git/.gitignore_global
	whitespace=warn,indent-with-non-tab,trailing-space,cr-at-eol
[alias]
	a = add --verbose
	an = add --dry-run --verbose
	app = apply --verbose
	br = branch --verbose --color
	ci = commit
	cl = clone
	co = checkout
	com = checkout master
	df = difftool
	dc = difftool --cached
	dw = difftool --ignore-all-space
	fu = fetch upstream
	chkig = check-ignore --verbose
	# show files ignored by git
	ign = ls-files -o -i --exclude-standard
	lg = log --graph --date=format:'%Y-%m-%d %H:%M' --format=format:'%C(auto)%h %d%Creset%Cgreen%ad%Creset %aN <%aE>%n%Cblue%s%Creset%+b'
	lgd = log -p
	lgm = log --graph --author='Sarah H. McGrath' --date=format:'%Y-%m-%d %H:%M' --format=format:'%C(auto)%h %d%Creset%Cgreen%ad%Creset %aN <%aE>%n%Cblue%s%Creset%+b'
	lgp = log --date=format:'%Y-%m-%d %H:%M' --pretty=fuller
	ls = ls-files | less
	pl = pull
	ps = push
	rem = remote --verbose
	rmc = rm -r --cached
	rs = restore --staged
	st = status --short --branch --show-stash --verbose
[color]
	ui = auto
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[init]
	defaultBranch = main
