*.private filter=private
secrets/** filter=private
aerc/.config/aerc/signature filter=private
aerc/.config/aerc/accounts.conf filter=private
aerc/.config/aerc/notmuchmap.conf filter=private
git/.config/git/gitconfig_private filter=private
khal/.config/khal/** filter=private
khard/.config/khard/** filter=private
irssi/.irssi/config filter=private
isync/isyncrc filter=private
mail/.config/mail-rules/** filter=private
msmtp/.msmtprc filter=private
notmuch/.config/notmuch/default/config filter=private
tiny-irc/.config/tiny/config.yml filter=private
vdirsyncer/.config/vdirsyncer/config filter=private
