[Desktop Entry]
Version=1.0
Name=Calculator: Qalculate!
GenericName=Calculator
TryExec=qalculate-gtk
Exec=qalculate-gtk
Icon=qalculate
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=qalculate-gtk
Categories=GTK;Utility;Calculator;Education;Science;Math;
Keywords=calculation;arithmetic;scientific;financial;calculator;calc;
Comment=Make Qalculate easier to launch via fuzzel
