! general
Xft.autohint  : 0
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : 1
Xft.antialias : 1
Xft.rgba      : rgb
! xidle
XIdle*timeout: 600
! Source Terminal Colors
#include "$XDG_CONFIG_HOME/themes/dracula-Xresources"
! Source Specific Program Files
#include "$XDG_CONFIG_HOME/urxvt/urxvt-Xresources"
#include "$XDG_CONFIG_HOME/X11/xLock-Xresources"
#include "$XDG_CONFIG_HOME/X11/xterm-Xresources"
!#include "$XDG_CONFIG_HOME/X11/ssh-askpass-Xresources"
