! general
! xidle
XIdle*timeout: 600
! Xft settings
Xft.antialias: true
Xft.autohint: false
!Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
!Xft.hintstyle : hintslight
! Source Terminal Colors
#include "/home/shmcg/.config/themes/dracula-Xresources"
! Source Specific Program Files
#include "/home/shmcg/.config/urxvt/urxvt-Xresources"
#include "/home/shmcg/.config/X11/xLock-Xresources"
#include "/home/shmcg/.config/X11/xterm-Xresources"
!#include "~/.config/X11/ssh-askpass-Xresources"
