! general
Xft.autohint  : 0
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : 1
Xft.antialias : 1
Xft.rgba      : rgb
! xidle
XIdle*timeout: 600
! Source Terminal Colors
#include "/home/shmcg/.config/themes/dracula-Xresources"
! Source Specific Program Files
!#include "$HOME/.config/xres/xterm-Xresources"
#include "/home/shmcg/.config/urxvt/urxvt-Xresources"
!#include "$HOME/.config/xres/xLock-Xresources"
!#include "$HOME/.config/xres/xClock-Xresources"
