# ~/.config/systemd/user/waybar.service or /etc/systemd/user/waybar.service
[Unit]
Description=Waybar instance for %i
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar -c %h/.config/waybar/config-%i.jsonc -s %h/.config/waybar/style.css
Restart=on-failure

[Install]
WantedBy=graphical-session.target
