* {
	border: none;
	border-radius: 0px;
	font-family: CommitMono Nerd Font Propo, Symbols Nerd Font, Noto Sans CJK;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	min-height: 0;
}

window#waybar {
	background: transparent;
}

.module {
	background-color: #16181a;
	border-radius: 16px;
	box-shadow: inset 0 -2px;
}

label.module {
	/* padding and margin: top right bottom left */
	padding: 4px 8px 4px 8px;
	margin: 4px 4px 4px 4px;
	color: #5ef1ff;
}

box.module {
}

#window {
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #bd5eff;
}

window#waybar.empty #window {
	background-color: transparent;
}

#scratchpad,
#workspaces {
	margin: 4px 4px 4px 4px;
	padding: 2px 8px 2px 8px;
	color: #7b8496;
}

#workspaces button {
	padding: 1px;
	border-radius: 16px;
	margin: 4px 2px 4px 2px;
}

#workspaces button.focused {
	color: #7b8496;
	font-weight: bold;
	font-style: italic;
	background-color: #5ea1ff;
}

#workspaces button.urgent {
	background-color: #ff6e5e;
}

#workspaces button.visible {
	color: #5eff6c;
}

#workspaces button.current_output {
	color: #f1ff5e;
}

#workspaces button.empty,
#workspaces button.persistent {
	color: #7b8496;
}

#mode {
	color: #f1ff5e;
}

#custom-power {
	color: #24283b;
	background-color: #ff6e5e;
	border-radius: 4px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	padding: 4px 8px;
}

#tray {
	background: #282828;
	margin: 4px 4px 4px 4px;
	padding: 0px 4px;
}

#clock,
#custom-weather {
	color: #ff5ef1;
}

#battery {
	color: #5eff6c;
}

#battery.charging {
	color: #5eff6c;
}

#battery.warning:not(.charging) {
	background-color: #f7768e;
	color: #24283b;
	border-radius: 4px 4px 4px 4px;
}

#backlight {
	background-color: #24283b;
	color: #db4b4b;
	border-radius: 0px 0px 0px 0px;
	margin: 4px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px 0px;
}

#network {
	border-radius: 8px;
}

#pulseaudio {
	border-radius: 8px;
	margin-left: 0px;
}

#pulseaudio.muted {
	background: transparent;
	color: #928374;
	border-radius: 8px;
	margin-left: 0px;
}

#custom-randwall {
	border-radius: 8px;
	margin-right: 0px;
}

#custom-playerctl {
	background: #282828;
	padding-left: 16px;
	padding-right: 16px;
	/*border-left: solid 1px #282738;*/
	/*border-right: solid 1px #282738;*/
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}

#custom-playerlabel {
	background: transparent;
	padding-left: 8px;
	padding-right: 16px;
	/*border-left: solid 1px #282738;*/
	/*border-right: solid 1px #282738;*/
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: normal;
	font-style: normal;
}

#custom-wf-recorder {
	padding: 0 20px;
	color: #e5809e;
	background-color: #1E1E2E;
}

#temperature.critical {
	color: red;
	font-weight: bold;
	font-style: italic;
}

#idle_inhibitor {
	padding: 4px 2px 4px 2px;
}
