! general
Xft.autohint  : 0
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : 1
Xft.antialias : 1
Xft.rgba      : rgb
! xidle
XIdle*timeout: 600
! Source Terminal Colors
#include "/home/shmcg/.shm/themes/dracula-Xresources"
! Source Specific Program Files
#include "/home/shmcg/.shm/xres/xLock-Xresources"
#include "/home/shmcg/.shm/xres/xterm-Xresources"
#include "/home/shmcg/.shm/xres/urxvt-Xresources"
!#include "/home/shmcg/.shm/xres/ssh-askpass-Xresources"
