<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>003D5D93-F342-4FC9-A0FB-0A211B6473EF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pacman</string>
			<key>text</key>
			<string>Search Arch Packages for '{query}'</string>
			<key>url</key>
			<string>https://www.archlinux.org/packages/?sort=&amp;q={query}&amp;maintainer=&amp;flagged=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>086B1578-AF3C-42B2-B329-3005BF70D6F1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>guten</string>
			<key>text</key>
			<string>Search Project Gutenberg for '{query}'</string>
			<key>url</key>
			<string>https://www.gutenberg.org/ebooks/search/?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1818C971-C9DA-4101-A33F-99813586DC60</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ext</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search FileInfo.com for '{query}'</string>
			<key>url</key>
			<string>http://www.fileinfo.com/extension/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1F6DC01C-0349-487A-AED7-574DB6AF2506</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vimaw</string>
			<key>text</key>
			<string>Search VimAwesome for {query}</string>
			<key>url</key>
			<string>http://vimawesome.com/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2058B21B-2C26-4552-8113-50E009F6B844</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reds</string>
			<key>text</key>
			<string>Search reddit for '{query}'</string>
			<key>url</key>
			<string>http://www.reddit.com/search?q={query}&amp;sort=relevance&amp;t=all</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>211B3677-5C52-4919-BE7A-7D75026A6355</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bmn</string>
			<key>text</key>
			<string>Search BugMeNot for '{query}'</string>
			<key>url</key>
			<string>http://bugmenot.com/view/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>21274F2A-E3F6-45AE-90DE-9AD96EFEDD20</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aur</string>
			<key>text</key>
			<string>Search Arch User Repository for... {query}</string>
			<key>url</key>
			<string>https://aur.archlinux.org/packages/?O=0&amp;SeB=nd&amp;K={query}&amp;outdated=&amp;SB=n&amp;SO=a&amp;PP=50&amp;do_Search=Go</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2C376A95-452B-4F77-BCE6-502E3946CB28</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hns</string>
			<key>text</key>
			<string>Search Hacker News for '{query}'</string>
			<key>url</key>
			<string>https://hn.algolia.com/?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>437C4DE0-6E65-4E15-865A-C7B41231AF31</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>googs</string>
			<key>text</key>
			<string>Search Google Scholar for {query}...</string>
			<key>url</key>
			<string>https://scholar.google.com/scholar?hl=en&amp;q={query}&amp;btnG=&amp;as_sdt=1%2C39&amp;as_sdtp=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4B8CE9DA-CE6B-4999-85B8-478726023D2E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>man</string>
			<key>text</key>
			<string>Search ss64.com for {query}</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}&amp;sitesearch=ss64.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>50D445D1-6968-46CD-9A6D-1033B8966FC4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sbo</string>
			<key>text</key>
			<string>Search SlackBuilds.org for '{query}'</string>
			<key>url</key>
			<string>https://slackbuilds.org/result/?search={query}&amp;sv=14.2</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5F3DE9B0-2FC1-4B9E-B653-D3AFDA1E58BA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ser</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Serebii for '{query}'</string>
			<key>url</key>
			<string>http://www.serebii.net/search.shtml?cx=018410473690156091934%3A6gahkiyodbi&amp;cof=FORID%3A11&amp;q={query}&amp;sa=Search&amp;siteurl=www.serebii.net%2F&amp;ref=www.google.com%2F&amp;ss=1248j207652j11</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>602358E8-61A7-40F0-B160-5861ECA08C66</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sco</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search ScreenCastsOnline for '{query}'</string>
			<key>url</key>
			<string>http://www.screencastsonline.com/search/?s={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6252B218-F636-4AD2-AF41-85EF9FD645DA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>archwik</string>
			<key>text</key>
			<string>Search the Arch Linux Wiki for... {query}</string>
			<key>url</key>
			<string>https://wiki.archlinux.org/index.php?title=Special%3ASearch&amp;search={query}&amp;go=Go</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>65CD0ECA-C12D-47EE-984F-DF8AD9215B8A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search GIPHY for "{query}"</string>
			<key>url</key>
			<string>http://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>666A069D-3C3B-45DD-90A1-613E451EC965</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amzn</string>
			<key>text</key>
			<string>Search Amazon Smile for '{query}'</string>
			<key>url</key>
			<string>https://smile.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6765DA2A-5D7E-489E-8862-8454894245B5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mpu</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Mac Power Users for '{query}'</string>
			<key>url</key>
			<string>http://www.macpowerusers.com/?s={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6D128BBA-445F-41F9-8AC6-BE21FF5A9920</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nflx</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Netflix for '{query}'</string>
			<key>url</key>
			<string>http://www.netflix.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6F49C5A2-12CD-4E92-9736-C974ABA079B6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hak5</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Hak5 for '{query}'</string>
			<key>url</key>
			<string>http://hak5.org/?s={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>70C13E36-1DD4-485D-9FEC-5DD6447CF1D0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pkmndb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Pokémon Database for '{query}'</string>
			<key>url</key>
			<string>http://pokemondb.net/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7DA270DD-E9B7-4E47-9C2F-11BF3F9012C3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>text</key>
			<string>Search MDN web docs for '{query}'</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7E024239-FED3-4A4D-B4E4-BFB3ADA3E1F6</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>packal</string>
			<key>text</key>
			<string>Seach Packal for {query}.</string>
			<key>url</key>
			<string>http://www.packal.org/search/site/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>81B741F9-80B2-4831-B98E-CA4C698EE994</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bbref</string>
			<key>text</key>
			<string>Seach Basketball Reference for '{query}'</string>
			<key>url</key>
			<string>https://www.basketball-reference.com/search/search.fcgi?hint=&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>87C72F48-EA3B-492E-9B30-657B0618E3C3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bt</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search brettterpstra.com for '{query}'</string>
			<key>url</key>
			<string>http://brettterpstra.com/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8820BAC0-798A-40F0-B9EB-FA9241665EB6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>redu</string>
			<key>text</key>
			<string>Open reddit user u/{query}</string>
			<key>url</key>
			<string>http://www.reddit.com/user/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8C353A7D-01F3-4BD5-B6AD-F33C326A61D8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hockref</string>
			<key>text</key>
			<string>Seach Hockey Reference for '{query}'</string>
			<key>url</key>
			<string>https://www.hockey-reference.com/search/search.fcgi?hint=&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A12256AD-D86A-43CF-8F4A-08289668A480</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rmn</string>
			<key>text</key>
			<string>Search RetailMeNot for '{query}'</string>
			<key>url</key>
			<string>https://www.retailmenot.com/s/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B2C99AFD-4CDB-469F-8BF9-534C2915B11E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>svw</string>
			<key>text</key>
			<string>Search Stardew Valley Wiki for '{query}'</string>
			<key>url</key>
			<string>http://stardewvalleywiki.com/mediawiki/index.php?search={query}&amp;title=Special%3ASearch&amp;go=Go</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BAADA2E6-2328-46F2-8DB8-7678AB7EC23E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fbref</string>
			<key>text</key>
			<string>Seach Pro Football Reference for '{query}'</string>
			<key>url</key>
			<string>https://www.pro-football-reference.com/search/search.fcgi?hint=&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C1AFD237-FA73-4671-9270-70A750468C12</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mine</string>
			<key>text</key>
			<string>Seach Minecraft Wiki for '{query}'</string>
			<key>url</key>
			<string>https://minecraft.gamepedia.com/index.php?search={query}&amp;title=Special:Search&amp;fulltext=Search</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EA432921-6DE4-4DBC-87D9-89398F570945</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>veek</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search veekun for '{query}'</string>
			<key>url</key>
			<string>http://veekun.com/dex/lookup?lookup={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EF423C83-5FD3-4BE7-86BC-D882B4A28AC7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>altto</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search alternativeTo for '{query}'</string>
			<key>url</key>
			<string>http://alternativeto.net/SearchResult.aspx?search={query}&amp;ignoreExactMatch=True</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FDB9C96C-E66E-4FB4-B82A-FD23ED937011</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>redr</string>
			<key>text</key>
			<string>Open subreddit r/{query}</string>
			<key>url</key>
			<string>http://www.reddit.com/r/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
