#extends filetype1, filetype2

global !p
from shm_snippet_helpers import *
endglobal


snippet kvs "Key-value string" b
"${1:key}": "${0:value}",
endsnippet

snippet kvn "Key-value number" b
"${1:key}": ${0:value},
endsnippet

# vim:ft=snippets:
