#extends filetype1, filetype2

global !p
from shm_snippet_helpers import *
endglobal

snippet if "if ... then (if)"
if ${2:[[ ${1:condition} ]]}; then
	${0:#statements}
fi
endsnippet

# vim:ft=snippets:
