# systemctl --user enable --now swayidle-river.service
[Unit]
Description=idle manager for Wayland - River
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
		timeout 900 'swaylock' \
		resume 'kanshi' \
		timeout 1710 '/home/shmcg/.local/bin/swayidle-ssh-check.sh' \
		timeout 1800 'systemctl suspend' \
		before-sleep 'swaylock'

[Install]
WantedBy=river-session.target
